{{ define "extra_styles" }}
<!-- Plugin CSS -->
<link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">
{{ end }}

{{ define "extra_scripts" }}
<!-- Plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Custom scripts for this template -->
<script src="js/creative.js"></script>
{{ end }}

{{ define "main" }}
<!--Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><span class="fa fa-home"></span></a>
        <button aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarResponsive" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#requests">Requests</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#compounds">Compounds</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#models">Genetic Models</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact">Project Team</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<header class="masthead">
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">Chemoproteomic Identification and Therapeutic Validation of Proteins of Metabolic Significance</h1>
            <hr>
            <p>Project resource website for DK099810 and DK114785</p><a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Learn more</a>
        </div>
    </div>
</header>
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">Our goal</h2>
                <hr>
                <p class="text-faded">There is a need to develop drugs for metabolic disease with a mechanism of action distinct from that of existing agents. This project combines expertise from multiple scientific fields (chemical proteomics, medicinal
                    chemistry, adipose tissue and liver biology, lipid metabolism) to discover and characterize new molecular pathways that can be targeted pharmacologically to revert obesity-linked adipocyte defects that drive systemic insulin resistance and
                    type 2 diabetes.</p>

                <p>We aim to identify in tandem physiologically relevant proteins and chemical tools to perturb the function of these proteins to expedite their functional annotation and therapeutic validation. In the process, <em>we are creating
                        first-in-class chemical probes and genetic models to study key metabolic pathways that we are happy to share with the larger research community</em>.</p> <a class="btn btn-default btn-xl js-scroll-trigger" href="#compounds">Compounds</a> <a
                    class="btn btn-default btn-xl js-scroll-trigger" href="#models">Genetic Models</a>
            </div>
        </div>
    </div>
</section>

<section id="requests">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">Requests for materials</h2>
                <hr>
                <p class="text-faded">We are happy to discuss requests for reagents and are committed to providing reasonable quantities at no cost beyond nominal charges for shipping of materials. Please fill out a <a href="./material_request_form.html"
                        target="_blank">Material Request Form</a> and e-mail it to <a href="mailto:rc2requests@scripps.edu">rc2requests@scripps.edu</a>. We will process your request and respond with a Material Transfer Agreement (MTA). After receiving your completed
                    MTA, we will send the requested materials.</p>
                <p>Please send any other questions or feedback to <a href="mailto:rc2requests@scripps.edu">rc2requests@scripps.edu</a>.</p>
                <a class="btn btn-default btn-xl" href="./material_request_form.html" target="_blank">Material Request Form</a>
            </div>
        </div>
    </div>
</section>

<section id="compounds">
    {{ $targets := slice }}
    {{ $headless := .Site.GetPage "/compounds" }}
    {{ $compound_resources := $headless.Resources.ByType "page" }}
    
    {{ range $compound_resources }}
        {{ if (not .Params.draft) }}
            {{ $targets = $targets | append (slice .Params.target) }}
        {{ end}}
    {{ end }}

    {{ $unique_targets := sort (uniq $targets) }}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Compounds Developed</h2>
                <hr class="primary">
                <div class="panel-group" id="accordion">
                    {{ range $index, $target := $unique_targets }}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a aria-expanded="false" class="accordion-toggle collapsed" data-toggle="collapse" href="#collapse{{ add $index 1 }}">{{ $target }}</a></h4>
                        </div>
                        <div role="tabpanel" aria-expanded="false" class="panel-collapse collapse" id="collapse{{ add $index 1 }}">
                            <div class="panel-body">
                                {{ range where $compound_resources "Params.target" $target }}
                                    {{ partial "compound.html" . }}
                                    <hr class="cmpd_spacer" />
                                {{ end }}
                            </div>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>

<section id="models">
    {{ $headless := .Site.GetPage "/models" }}
    {{ $model_resources := $headless.Resources.ByType "page" }}

    {{ $models := slice }}

    {{ range $model_resources }}
        {{ if (not .Params.draft) }}
            {{ $models = $models | append (slice .) }}
        {{ end}}
    {{ end }}

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Genetic Models</h2>
                <hr>

                <div class="panel-group" id="accordion_ko">
                    {{ range $index, $model := sort $models }}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a aria-expanded="false" class="accordion-toggle collapsed" data-toggle="collapse" href="#collapse_ko_{{ add $index 1 }}">{{ .Params.target }}</a></h4>
                        </div>
                        <div role="tabpanel" aria-expanded="false" class="panel-collapse collapse" id="collapse_ko_{{ add $index 1 }}">
                            <div class="panel-body">
                                {{ partial "model.html" . }}
                            </div>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto text-center">
                <h2 class="section-heading">Project Team</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 ml-auto text-center">
                <p class="contact_name">Enrique Saez, Ph.D. <i class="fa fa-star" aria-hidden="true"></i></p>
                <p>Associate Professor</p>
                <p>Department of Molecular Medicine</p>
                <p>The Scripps Research Institute</p>
                <p class="email_address"><a href="mailto:esaez@scripps.edu">esaez@scripps.edu</a></p>
                <p>858-784-7305</p>
                <hr>
            </div>

            <div class="col-lg-2 ml-auto text-center">
                <p class="contact_name">Benjamin Cravatt, Ph.D.</p>
                <p>Professor</p>
                <p>Department of Chemistry</p>
                <p>Gilula Chair of Chemical Biology</p>
                <p>The Scripps Research Institute</p>
                <p class="email_address"><a href="mailto:cravatt@scripps.edu">cravatt@scripps.edu</a></p>
                <p>858-784-8633</p>
                <hr>
            </div>

            <div class="col-lg-2 ml-auto text-center">
                <p class="contact_name">Dale Boger, Ph.D.</p>
                <p>Richard and Alice Cramer Professor of Chemistry</p>
                <p>Department of Chemistry</p>
                <p>The Scripps Research Institute</p>
                <p class="email_address"><a href="mailto:boger@scripps.edu">boger@scripps.edu</a></p>
                <p>858-784-7522</p>
                <hr>
            </div>

            <div class="col-lg-2 ml-auto text-center">
                <p class="contact_name">Peter Tontonoz, M.D., Ph.D.</p>
                <p>Professor</p>
                <p>Pathology and Laboratory Medicine</p>
                <p>University of California, Los Angeles</p>
                <p class="email_address"><a href="mailto:ptontonoz@mednet.ucla.edu">ptontonoz@mednet.ucla.edu</a></p>
                <p>310-206-4546</p>
                <hr>
            </div>

            <div class="col-lg-2 ml-auto text-center">
                <p class="contact_name">Alan Saghatelian Ph.D.</p>
                <p>Professor</p>
                <p>Dr. Frederik Paulsen Chair</p>
                <p>Clayton Foundation Laboratories for Peptide Biology</p>
                <p>Salk Institute for Biological Studies</p>
                <p class="email_address"><a href="mailto:asaghatelian@salk.edu">asaghatelian@salk.edu</a></p>
                <p>858-453-4100</p>
                <hr>
            </div>

        </div>
    </div>
</section>
{{ end }}